/*.......................general styles START.............................*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'RobotoSlab'
}

.btn-primary {
	background-color: lightblue;
	border-color: lightblue;
}

.btn-primary:hover {
	background-color: #0ed8d6;
	border-color: #0ed8d6;
}

h3 {
	color: #333333;
	text-align: center;
}
h4 {
	font-style: bold; 
}

section {
	overflow: auto;
	padding: 60px 40px;
}

p {
	font-weight: 300;
	font-family: 'DroidSerif';
	font-style: italic;
	line-height: 1.5em;
	text-align: center;
}

h5 {
	font-family: 'RobotoSlab';
}

h3,
#menu,
button,
h1 {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-weight: 600;
}


/*.........................general styles STOP..............................*/


/* ..........................menu START....................................*/

#menu {
	background-color: transparent;
	border: none;
	background-image: none;
}

#menu ul {
	text-align: right;
}

#menu ul .menu-item {
	padding: 15px;
}

#menu ul .menu-item a {
	color: #fff;
	text-decoration: none;
	transition: all .3s;
}

#menu ul .menu-item a:hover {
	color: #0ed8d6;
}

#menu.scroll {
	background-color: #0ed8d6;
}

#menu.scroll ul .menu-item a {
	color: #fff;
}

#menu.scroll ul .menu-item a:hover {
	color: #291f1a;
}


/* menu STOP*/


/* ..........................menu STOPT....................................*/


/* ..........................header START................................*/

.page-header {
	background-image: url(../img/header/pictures_on_the_wall.jpg), linear-gradient(#695f5f, #332d2d);
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	margin: 0;
}

.page-header #header-caption {
	position: absolute;
	top: 50%;
	text-align: center;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color: white;
	font-family: 'Roboto', sans-serif;
}


/* ..........................header STOPT................................*/


/* ..........................services START................................*/

#services .services-icons {
	display: inline-block;
	text-align: center;
}

.globalBtn {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
	text-align: center;
	background: #0ed8d6;
	color: #fff;
	font-size: 25px;
	border-radius: 50%;
	line-height: 70px;
}

.globalBtn:hover {
	width: 70px;
	height: 70px;
	position: relative;
	border: 2px solid #0ed8d6;
	transform: rotate(360deg);
	background: #fff;
	color: #0ed8d6;
	font-size: 25px;
	border-radius: 50%;
	transition: all 700ms;
}


/* ..........................services STOPT................................*/


/* ..........................portfolio START................................*/

#portfolio {
	background-color: #fff5e3;
}

.portfolio-items {
	padding: 30px;
}

.portfolio-item {
	height: 360px;
	text-align: center;
	padding: 30px;
}

.container-image:hover {
	transform: scale(1);
}

.portfolio-items #portfolio-image-1 {
	background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
	background-size: cover;
	position: relative;
	height: 300px;
}

.portfolio-items #portfolio-image-2 {
	background-image: url(../img/portfolio/typing_on_laptop.jpg);
	background-size: cover;
	position: relative;
	height: 300px;
}

.portfolio-items #portfolio-image-3 {
	background-image: url(../img/portfolio/child_with_blue_paint.jpg);
	background-size: cover;
	position: relative;
	height: 300px;
}

.portfolio-items #portfolio-image-4 {
	background-image: url(../img/portfolio/chaotic_paint.jpg);
	background-size: cover;
	position: relative;
	height: 300px;
}

.portfolio-items #portfolio-image-5 {
	background-image: url(../img/portfolio/house_with_blue_doors.jpg);
	background-size: cover;
	position: relative;
	height: 300px;
}

.portfolio-items #portfolio-image-6 {
	background-image: url(../img/portfolio/box_of_cookies.jpg);
	background-size: cover;
	position: relative;
	height: 300px;
}


/* ..........................portfolio STOPT................................*/


/* ..........................team START................................*/

.team-image {
	text-align: center;
	position: relative;
	max-height: 230px;
	;
	border-radius: 50%;
	background-size: cover;
}

.team-member {
	height: 500px;
}

.teamBtn {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #333;
	color: #fff;
	font-size: 25px;
	border-radius: 50%;
	line-height: 40px;
}

.teamBtn:hover {
	width: 40px;
	height: 40px;
	position: relative;
	border: 2px solid #0ed8d6;
	transform: rotate(360deg);
	background: #0ed8d6;
	color: #fff;
	font-size: 25px;
	border-radius: 50%;
	transition: all 700ms;
}


/* ..........................team STOPT................................*/


/* ..........................contact START................................*/

#contact {
	background-image: url(../img/footer/world-map.jpg), linear-gradient(rgba(95, 95, 95, 0.5), rgba(95, 95, 95, 0.5));
	background-size: cover;
}

#contact h3,
#contact p {
	color: #fff;
}

#textarea {
	height: 150px;
	width: 100%;
	border-radius: 5px;
}


/* ..........................contact STOPT................................*/


/* ..........................footer START................................*/

#footer {
	height: 60px;
	width: 100%;
	text-align: center;
	padding: 10px;
}




/* ..........................footer STOPT................................*/